<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login con Roblox</h1>
  <a href="/forum/login">
    <button>Inicia Sesión con Roblox</button>
  </a>
</body>
</html>